.card{
	width: 110px;
	height: 110px;
	border-radius: 12px;
	background-color: #005864;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	&.flipped{
		img{
			transform: perspective(800px) rotateY(180deg);
			opacity: 0;
		}
		.default{
			transform: perspective(800px) rotateY(0deg);
			opacity: 1;
		}
	}
	img{
		width: 100px;
		height: 100px;
		object-fit: contain;
		position: absolute;
		backface-visibility: hidden;
		cursor: pointer;
		transition: transform 0.4s;	
	}
	.default{
		width: 100%;
		height: 100%;
		position: absolute;
		backface-visibility: hidden;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: transform 0.4s;
		transform: perspective(800px) rotateY(-180deg);
		opacity: 0;
	}
	
}