.container{
	padding-left: 20px;
	padding-top: 20px;
	background-color: #f5f2ec;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: flex-start;
	align-content: flex-start;
	align-items:center;
	&.hard{
		width: 800px;
		height: 670px;
	}
	&.medium{
		width: 540px;
		height: 670px;
	}
	&.easy{
		width: 410px;
		height: 540px;
	}
}