.container{
	padding-left: 20px;
	padding-top: 20px;
	width: 800px;
	height: 800px;
	background-color: #f5f2ec;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: flex-start;
	align-content: flex-start;
	align-items:center;
}