.container{
	padding-left: 20px;
	padding-top: 20px;
	background-color: #f5f2ec;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: flex-start;
	align-content: flex-start;
	align-items:center;
	&.hard{
		width: 800px;
		height: 540px;
	}
	&.medium{
		width: 670px;
		height: 540px;
	}
	&.easy{
		width: 540px;
		height: 410px;
	}
	.notStarted{
		width: 540px;
		height: 410px;
		background-color: #f5f2ec;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
}