.card{
	width: 110px;
	height: 110px;
	border-radius: 12px;
	background-color: #005864;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	img{
		width: 100px;
		height: 100px;
		object-fit: contain;
	}
}