.default{
	width: 520px;
	height: 390px;
	background-color: #f5f2ec;
	box-shadow: 3px 5px 5px rgb(0 0 0 / 15%);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}