.layout{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-emphasis: none;
	&.dark{
		background-color: #000;
		color: #fff;
	}
	.nav{
		width: 100%;
		height: 80px;
		border-bottom: 2px solid #e0e0e0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		h2{
			font-family: 'Berkshire Swash', cursive;
		}
		.left{
			margin-left: 20px;
		}
		.right{
			margin-right: 20px;
		}
		button{
			height: 30px;
			margin: 10px;
			background-color: #fff;
			border: none;
			outline: none;
			cursor: pointer;
			font-size: 16px;
			line-height: 24px;
			&.dark{
				background-color: #000;
				color: #fff;
			}
		}
	}
	header{
		width: 540px;
		margin-bottom: 5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		&.hard{
			width: 800px;
		}
		&.medium{
			width: 670px;
		}
		&.easy{
			width: 540px;
		}
		h1{
			margin-top: 20px;
			margin-bottom: 40px;
			font-family: 'Berkshire Swash', cursive;
			font-size: 50px;
		}
		nav{
			width: 100%;
			padding: 0 20px;
			display: flex;
			justify-content:space-between;
			margin: 20px 0;
			font-size: 24px;
		}
	}
}

@media screen and (max-width: 600px) {
	.layout{
		.nav{
			height: 60px;
			h2{
				font-size: 18px;
			}
		}
		header{
			width: 100%;
			&.hard{
				width: 100%;
			}
			&.medium{
				width: 100%;
			}
			&.easy{
				width: 100%;
			}
			h1{
				font-size: 30px;
				margin-bottom: 10px;
				margin-top: 10px;
			}
			nav{
				font-size: 18px;
				margin: 5px 0;
			}
		}
  }
}